.header {
  display: flex;
  align-items: center;

  padding: 0 24px;
  padding-top: 94px;
  padding-bottom: 96px;
}

.logo {
  width: 135px;
  height: 105px;
  margin-right: 192px;
  margin-left: 5px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: circle;
  margin-left: 16px;
  margin-right: 20px;
}

.menu-item {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  width: fit-content;
}

.menu-link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.address {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #000;
  font-style: normal;
}

.contacts {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #000;
  width: fit-content;
}

.no-circle {
  list-style-type: none;
}
.no-link {
  text-decoration: none;
}

.card-common {
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-common::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  z-index: 1;
  pointer-events: none;
}

.promo {
  background-image: url("../images/cover.jpg");
  padding: 165px 50px 50px;
}

.promo-wrapper {
  margin-bottom: 128px;
}

.promo-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  z-index: 2;
  position: relative;
}

.promo-title-text {
  letter-spacing: 30px;
}

.text-spaced-out {
  letter-spacing: 60px;
}

.second-text {
  text-align: center;
  margin-bottom: 6px;
}

.third-text {
  text-align: end;
}

.promo-text-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.promo-text-bottom {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 20px;
  margin-left: 27px;
  z-index: 2;
  position: relative;
}

.button {
  border: 1px solid #fff;
  width: 256px;
  height: 51px;
  background-color: transparent;
  font-family: Raleway;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  z-index: 2;
  position: relative;
}

.lots-title {
  margin-left: 62px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 28px;
}

.lots {
  padding-top: 179px;
}

.cards {
  display: grid;
  grid-template-columns: 334px 334px 334px;
  gap: 25px;
  list-style: none;
  padding: 0px 24px;
  margin-bottom: 29px;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px 40px;
  text-decoration: none;
  z-index: 2;
  position: relative;
}

.card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.card-info {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card-anderson {
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card-joyce {
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card-kandinsky {
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.more-info {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;

  margin-left: 64px;
}

.about {
  padding-top: 180px;
  margin-left: 71px;
  display: grid;
  grid-template-columns: 240px 693px;
  grid-template-rows: 148px auto;
  column-gap: 72px;
  row-gap: 101px;
}

.logo-white {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  grid-row: 1/3;
}

.logo-white-img {
  width: 148px;
  height: 114px;
}

.about-title {
  align-self: end;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}
.about-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
}

.about-content-wide {
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.footer {
  margin-top: 180px;
  margin-bottom: 88px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding-left: 44px;
}

.socials {
  width: 240px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 48;
}

.socials-image {
  width: 48px;
  height: 48px;
}
